:root{
    --font-color: rgb(51,51,51);
    --orange-400: rgb(255,152,00);
    --gray-800: #272b33;
    --gray-700: #3c3e44;
    --gray-200: #f5f5f5;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Blinker", sans-serif;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.navbar{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
}

.navbar-nav{
    display: flex;
    list-style: none;
}

.nav-item .nav-link{
    color: var(--font-color);
    font-weight: 600;
    margin: 0 37.5px 0 0;
    text-decoration: none;
}

.nav-item .nav-btn{
    border: 1px solid var(--orange-400);
    border-radius: 8px;
    color: var(--font-color);
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
    padding: 9px 18px;
    text-decoration: none;
    transition: all 0.2s;
}

.nav-item .nav-btn:hover{
    background-color: var(--orange-400);
    color: var(--white);
}

.hero{
    background-image: url('../img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.hero h1{
    font-weight: 700;
    font-size: 5.625rem;
}

.character-container{
    background-color: var(--gray-800);
    color: var(--white);
    padding: 3rem 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 1920px;
}

.character-box{
    display: flex;
    gap: 1rem;
    background-color: var(--gray-700);
    border-radius: 8px;
    height: 200px;
}

.character-box img{
    width: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    
}

.character-info{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.character-info h3{
    font-size: 1.5rem;
    margin: 5px;
}

.character-info .status{
    display: flex;
    align-items: center;
    width: 180px;

    font-weight: 600;
}

.character-info span div{
    margin-right: 10px;
    background-color: greenyellow;
    width: 10px;
    height: 10px;
    border-radius: 100px;

    display: inline-block;
}
.character-info span .Dead::before{
    margin-right: 10px;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 100px;

    display: inline-block;
}



.character-info .lastLocation{
    width: 400px;

    margin-top: 10px;
    display: flex;
    flex-direction: column;


}

.character-info .lastLocationText{
    color: gray;
    font-weight: 400;
    font-size: 18px;

    margin-bottom: 5px;
}

.character-info .location-box a{
     text-decoration: none;
     color: white;

     font-size: 20px;
     font-weight: 300;
}

.character-info .location-box a:hover{
    color: var(--orange-400);
}

.character-info .origin{
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.character-info .firstSee{
    color: gray;
    font-weight: 400;
    font-size: 18px;

    margin-bottom: 5px;
}

.character-info .origin a{
    text-decoration: none;
     color: white;

     font-size: 20px;
     font-weight: 300;
}

.location-container{
    color: var(--gray-800);
}
